{% extends 'journal/base.html' %}
{% block content %}

<div class="container mt-4">
    <h1 class="fw-light">Show your <strong>gratitude</strong>...</h1>
    <p class="fw-light">Gratitude journal is a tool to keep track of the good things in life.
        Keep a daily record of life's little blessings.</p>
    <br>
    <h3 class="fw-light">Today I'm <strong>grateful for</strong>...</h3>
    {% for post in instance.grateful_for %}
        <ul>
            <li><h3 class="fw-light"><i>{{ post }}</i></h3></li>
        </ul>
    {% endfor %}


    <div class="d-flex gap-2 col-5 ms-auto">
        <a class="btn btn-danger btn-lg" href="{% url 'delete_gratitude_post' %}" role="button">Delete Post</a>
        <a class="btn btn-dark btn-lg" href="{% url 'gratitude_form' %}" role="button">Update Post</a>
    </div>
</div>

{% endblock %}