{% extends 'journal/base.html' %}
{% block content %}
    <!-- Showcase -->
    <section class="bg-light text-secondary py-4 text-center text-sm-start">
        <div class="container">
            <div class="d-lg-flex justify-content-between text-center">
                <!-- 1st element -->
                <img src="media/nice_pic.jpg" class="img-fluid rounded w-10 my-5">

                <!-- 2nd element -->
                <div class="p-5">
                    <div class="p-5">
                        <h1 class="fw-light">
                            Welcome <span class="text-success"><strong>{{ user.username.capitalize }}</strong></span>
                        </h1>
                        <h2 class="fw-light"> Good to see you!</h2>
                    </div>

                    <p class="lead p-1">It's {{ today_weekday }}, {{ today_date }}.</p>

                    <p class="lead">
                        <strong>Be thankful!</strong>
                        <br>Here's your <a href="{% url 'gratitude' %}">gratitude journal</a>.
                    </p>
                    <p class="lead">
                        <strong>Write your reality!</strong>
                        <br>Go to your <a href="{% url 'journaling' %}">journaling page</a>.
                    </p>

                </div>

                <!-- 3rd element -->
                <div>
                    <p class="lead mt-5">Quote of the Day:</p>
                    <p class="fst-italic">The purpose of our lives is to be happy.</p>
                    <p class="fw-light small">Dalai Lama</p>
                </div>
            </div>
        </div>
    </section>

{% endblock%}
