{% extends 'journal/base.html' %}
{% block content %}

{% if user.is_authenticated %}
<!-- Showcase for logged in user -->
<section class="bg-light text-secondary py-4 text-center text-sm-start">
    <div class="container">
        <div class="d-lg-flex justify-content-between text-center">
            <!-- 1st element ToDo -->
            <!-- 2nd element -->
            <div class="container mt-4">

                {% for post in page_obj %}
                    <div class="d-lg-flex justify-content-between text-center">
                        <div class="container p-4">
                            <a href="/posts/{{post.id}}/" class="link-dark"><h2>{{ post.date }}</h2></a>
                            {% if post.grateful_for %}
                                <h3 class="fw-light">I'm grateful for...</h3>
                                {% for p in post.grateful_for %}
                                    <ul>
                                        <h3 class="fw-light"><i>{{ p|truncatewords:10 }} </i></h3>
                                    </ul>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                {% if post.daily_pic %}
                    <h3 class="fw-light">Photo of the day:</h3>
                    <div class="container p-1" style="text-align: center">
                        <img src="{{ post.daily_pic.url }}" class="img-fluid rounded w-1 mt-4">
                    </div>
                {% endif %}

                {% if post.thoughts %}
                    <div class="d-lg-flex justify-content-between text-center">
                        <div class="container p-4">
                            <h3 class="fw-light">Journaling:</h3>
                            <h3 class="fw-light"><i>{{ post.thoughts|truncatewords:30 }}</i></h3>
                        </div>
                    </div>
                {% endif %}

                {% endfor %}

                <!-- Pagination-->

                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                        {% if not page_obj.has_previous %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}

                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                        {% endif %}

                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ page_obj.number }}</span></li>

                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                        {% endif %}

                        {% if not page_obj.has_next %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                  </ul>
                </nav>
            </div>

            <!-- 3rd element -->
            <div>
                <p class="lead mt-5">Quote of the Day:</p>
                <p class="fst-italic">The purpose of our lives is to be happy.</p>
                <p class="fw-light small">Dalai Lama</p>
            </div>
        </div>
    </div>
</section>

{% else %}
<!-- Showcase for logged in user -->
<section class="bg-light text-secondary py-4 text-center text-sm-start">
    <div class="container">
        <div class="d-lg-flex justify-content-between text-center">
            <!-- 1st element ToDo -->

            <!--2nd element -->
            <div class="p-5">
                <div class="p-5">
                    <h1 class="fw-light">
                        Welcome on <span class="text-dark"><strong>My Daily Journal</strong></span>
                    </h1>
                    <h3 class="fw-light">As you already know, showing gratitude is proven to be an effective tool for
                        the mind and body. In fact, there’s lots of benefits to be had from spending a few minutes each
                        day writing down what you’re thankful for. Find out yourself!</h3>
                </div>
                <h2 class="fw-light">
                    <strong>Every day is good to be thankful!</strong></h2>
                <h3 class="fw-light">
                    Start your journal now! <a href="{% url 'register' %}">Register here</a>.
                    <br>Or if you're already have an account <a href="{% url 'login' %}">Log in</a>.</h3>
            </div>
        </div>
    </div>
</section>

{% endif %}

{% endblock%}
