{% extends 'journal/base.html' %}
{% block content %}

{% if user.is_authenticated %}
<!-- Showcase for logged in user -->
<section class="bg-light text-secondary py-4 text-center text-sm-start">
    <div class="container">
        <div class="d-lg-flex justify-content-between text-center">
            <!-- 1st element ToDo -->
            <!-- 2nd element -->
            <div class="container mt-4">

                {% for post in page_obj %}
                    <div class="d-lg-flex justify-content-between text-center">
                        <div class="container p-4">
                            <h2 class="fw">{{ post.date }}</h2>
                            {% if post.grateful_for %}
                                <h3 class="fw-light">I'm grateful for...</h3>
                                {% for p in post.grateful_for %}
                                    <ul>
                                        <h3 class="fw-light"><i>{{ p }}</i></h3>
                                    </ul>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                {% if post.daily_pic %}
                    <h3 class="fw-light">Photo of the day:</h3>
                    <div class="container p-1" style="text-align: center">
                        <img src="{{ post.daily_pic.url }}" class="img-fluid rounded w-1 mt-4">
                    </div>
                {% endif %}

                {% if post.thoughts %}
                    <div class="d-lg-flex justify-content-between text-center">
                        <div class="container p-4">
                            <h3 class="fw-light">Journaling:</h3>
                            <h3 class="fw-light"><i>{{ post.thoughts }}</i></h3>
                        </div>
                    </div>
                {% endif %}

                <div class="d-flex gap-2 col-3 ms-auto mb-4">
                    <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">Delete
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'delete_gratitude_post' %}">Gratitude Post</a></li>
                        <li><a class="dropdown-item" href="{% url 'delete_journaling_post' %}">Journaling Post</a></li>
                        <li><a class="dropdown-item" href="{% url 'delete_pic' %}">Photo</a></li>
                    </ul>
                    </div>
                    <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">Update
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'gratitude_form' %}">Gratitude Post</a></li>
                        <li><a class="dropdown-item" href="{% url 'journaling_form' %}">Journaling Post</a></li>
                        <li><a class="dropdown-item" href="{% url 'daily_pic' %}">Photo</a></li>
                    </ul>
                    </div>
                </div>
                {% endfor %}

                <!-- Pagination-->

                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                        {% if not page_obj.has_previous %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}

                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}

                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ page_obj.number }}</span></li>

                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                        {% endif %}

                        {% if not page_obj.has_next %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                  </ul>
                </nav>

<!--                <div class="pagination justify-content-center">-->
<!--                    <span class="step-links">-->
<!--                        {% if page_obj.has_previous %}-->
<!--                            <a href="?page=1">&laquo; First</a>-->
<!--                            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>-->
<!--                        {% endif %}-->

<!--                        <span class="current">-->
<!--                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--                        </span>-->

<!--                        {% if page_obj.has_next %}-->
<!--                            <a href="?page={{ page_obj.next_page_number }}">Next</a>-->
<!--                            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>-->
<!--                        {% endif %}-->

<!--                    </span>-->
<!--                </div>-->

            </div>

            <!-- 3rd element -->
            <div>
                <p class="lead mt-5">Quote of the Day:</p>
                <p class="fst-italic">The purpose of our lives is to be happy.</p>
                <p class="fw-light small">Dalai Lama</p>
            </div>
        </div>
    </div>
</section>

{% else %}
<!-- Showcase for logged in user -->
<section class="bg-light text-secondary py-4 text-center text-sm-start">
    <div class="container">
        <div class="d-lg-flex justify-content-between text-center">
            <!-- 1st element ToDo -->

            <!--2nd element -->
            <div class="p-5">
                <div class="p-5">
                    <h1 class="fw-light">
                        Welcome on <span class="text-dark"><strong>My Daily Journal</strong></span>
                    </h1>
                    <h3 class="fw-light">As you already know, showing gratitude is proven to be an effective tool for
                        the mind and body. In fact, there’s lots of benefits to be had from spending a few minutes each
                        day writing down what you’re thankful for. Find out yourself!</h3>
                </div>
                <h2 class="fw-light">
                    <strong>Every day is good to be thankful!</strong></h2>
                <h3 class="fw-light">
                    Start your journal now! <a href="{% url 'register' %}">Register here</a>.
                    <br>Or if you're already have an account <a href="{% url 'login' %}">Log in</a>.</h3>
            </div>
        </div>
    </div>
</section>

{% endif %}

{% endblock%}
